# -----------------------------
# Python virtual environments
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Model files (do not push large .pkl files)
# -----------------------------
models/*.pkl

# -----------------------------
# Database / OS files
# -----------------------------
*.sqlite3
.DS_Store

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# IDEs
# -----------------------------
.vscode/
.idea/
